openapi: 3.1.0
info:
  title: Supreme Court Search API
  description: 대한민국 대법원 등기정보광장에서 제공하는 통합 검색 API입니다.
  version: 1.0.1
servers:
  - url: https://lx.scourt.go.kr
paths:
  /search/total/get/list:
    get:
      operationId: searchTotal
      summary: 통합 검색
      description: 검색어를 통해 등기, 사건, 판례 등의 정보를 검색합니다.
      parameters:
        - name: search_txt
          in: query
          required: true
          description: 검색어 (예: 사건명, 주소, 키워드 등)
          schema:
            type: string
      responses:
        '200':
          description: 검색 결과 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: 검색 결과 총 개수
                  list:
                    type: array
                    description: 검색 결과 리스트
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        type:
                          type: string
                        court:
                          type: string
                        date:
                          type: string
                        summary:
                          type: string
                        url:
                          type: string
        '400':
          description: 잘못된 요청
        '500':
          description: 서버 오류
